@import url("https://fonts.googleapis.com/css2?family=Product+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Product Sans", Arial, sans-serif;
    }

    body {
        font-family: "Product Sans", Arial, sans-serif;
    }
}
